// VARIABLES used

// Main fonts
$main-font: 'FuturaPT-Medium';
$main-font-light: 'FuturaPT-Light';
$main-font-heavy: 'FuturaPT-Heavy';
$main-font-book: 'Futura PT Book';
$main-font-bold: 'FuturaPT-Bold';
$FontAwesome : 'FontAwesome';
 
$width-full : 100%;
$height-full : 100%;


//Colors
$white: #fff;
$offWhite: #c3c3c3;
$black: #000;
$light-black:#131313;
$blog_post_bg: #4a4a4a;
$input_border: #58595a;
$dark-grey: #272727;
$alt-grey: #2f2f2f;
$primary-color: #ffff39;  